
        <header class="bg_animate">
            <div class="header_nav">
                <div class="contenedor">
                    <h1>MenteMagic</h1>

                    <div class="botones">
                        <button routerLink ="/home" class="Inicio">Inicio</button>
                        <button routerLink ="/auth/register" class="Registrate">Registrate</button>
                        <button routerLink ="/auth/login" class="Sesion">Iniciar Sesión</button>
                    </div>
                        
                </div>  
            </div>

            <section class="banner contenedor">
                <section class="banner_title">
                    <h2>"Leer, soñar y crecer"  <br>     Un lugar perfecto para estimular la lectura en los niños </h2>
                    <button routerLink ="/principal" class="Registrar">¡Comenzar!</button>
                </section>

                <div class="burbujas">
                    <div class="burbuja"></div>
                    <div class="burbuja"></div>
                    <div class="burbuja"></div>
                    <div class="burbuja"></div>
                    <div class="burbuja"></div>
                    <div class="burbuja"></div>
                    <div class="burbuja"></div>
                    <div class="burbuja"></div>
                    <div class="burbuja"></div>
                    <div class="burbuja"></div>
                </div>

                <div class="banner_img">
                    <img src="assets/img/pngwing.png" >
                </div>
            </section>

        </header>
        <footer>
            <div class="footer-content">
              <p>Nuestros niños son el futuro</p>
            </div>
          </footer>

