<!-- Option 1: Include in HTML -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

<main class="fondo">
  <section class="border border-light">
    <div class="row">
      <div class="col-md-2">
        <button type="button" class="btn btn-success" routerLink ="/principal">
          <i class="bi bi-arrow-left"></i>
          Inicio
        </button>
      </div>
      <div class="col-md-8">
          <h1 id="titulo">vocal "{{id}}"</h1>
      </div>
      <div class="col-md-2 text-right">
        <button type="button" class="btn btn-primary" routerLink ="/principal">Siguiente!
          <i class="bi bi-arrow-right"></i>
        </button>
      </div>
    </div>
  </section>
  <section>
      <div class="row border border-light">
          <div class="col-md-6">
            <div class="h-50 d-flex flex-column justify-content-center">
              <button (click)="playAudio(id)" class="btn btn-success">
                Escuchar
                <i class="bi bi-volume-down"></i>
              </button>
              <i class="bi bi-check2-circle"*ngIf="mostrar"></i>
            </div>
            <div class="h-50 d-flex flex-column justify-content-center">
              <button (click)="pronunciar(id)" class="btn btn-primary">
                Pronunciar
                <i class="bi bi-mic-fill"></i>
              </button>
              <i id={{id}} class="bi bi-check2-circle" hidden="true"></i>
            </div>
            </div>
          <div class="col-md-6">
            <img class="img-fluid" src="assets/img/{{id}}.jpg" >
        </div>
      </div>
      <br><br>
    <div class="row">
        <div class="col-md-4" *ngFor="let imagen of imagenesMostradas">
            <img class="img-fluid" [src]="imagen" [alt]="imagen">
        </div>
    </div>
    <div class="row">
      <div class="col-md-4 text-center" *ngFor="let audio of audiosCargados">
        <button (click)="playAudio(audio)" class="btn btn-success">
          Escuchar
          <i class="bi bi-volume-down"></i>
        </button>
        <button (click)="pronunciar(audio)" class="btn btn-primary">
          Pronunciar
          <i class="bi bi-mic-fill"></i> 
        </button>
        <i [id]="audio" class="bi bi-check2-circle" hidden="true"></i>
      </div>
  </div>
  </section> 
  
</main>
