
<header class="fondo_animate">
  <div class="header_nav">
      <div class="contenedor">
          <h1>MenteMagic</h1>

          <div class="botones">
              <button routerLink ="/home" class="Salir">Salir</button>
             
              <button routerLink ="/principal" class="Vista">Vista Estudiante</button>
          </div>
              
      </div>  
  </div>

  <section class="banner contenedor">
    
   
    <div class="container">
      <div class="image-container">
        <button routerLink="/ModuloLetras" class="Inicio">
          <img src="assets/img/config.png" alt="Imagen">
        </button>
        
      </div>
      <div class="button-container" >
        <button routerLink ="/ModuloLetras">Lecciones</button>
      </div>
    </div>
    <div class="container">
      <div class="image-container">
        <img src='assets/img/user.png' alt="Imagen">
      </div>
      <div class="button-container">
        <button routerLink ="/auth/register">Agregar Usuario</button>
      </div>
    </div>
    <div class="container">
      <div class="image-container">
        <img src='assets/img/graficas.png' alt="Imagen">
      </div>
      <div class="button-container">
        <button routerLink ="/Estadisticas">Estudiantes</button>
      </div>
    </div>


  
  </section>

</header>
<footer>
  <div class="footer-content">
 
  </div>
</footer>

