
<header class="fondo_animate">
  <div class="header_nav">
      <div class="contenedor">
          <h1>MenteMagic</h1>

          <div class="botones">
              <button routerLink ="/admi" class="Salir">Salir</button>
          </div>
              
      </div>  
  </div>

  <section class="banner contenedor">
    
   
    <div class="container">
      <div class="image-container">
        <button routerLink="/ModuloLetras" class="Inicio">
          <img src="assets/img/modLetra.png" alt="Imagen">
        </button>
        
      </div>
      <div class="button-container" >
        <button routerLink ="/ModuloLetras">Modulo Letras</button>
      </div>
    </div>
    <div class="container">
      <div class="image-container">
        <img src='assets/img/modEvaluacion.png' alt="Imagen">
      </div>
      <div class="button-container">
        <button routerLink ="/ModuloEvaluaciones">Evaluaciones</button>
      </div>
    </div>
    
  
  </section>

</header>
<footer>
  <div class="footer-content">
 
  </div>
</footer>

