body {
	font-family: Arial, sans-serif;
	background-color: #f0f0f0;
}

h1 {
	text-align: center;
	color: #333;
	margin-top: 50px;
}


.circles-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    box-sizing: border-box;
    max-width: 800px;
    margin: 2 auto;
  }
  
  
  .circle {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #ff6f61;
    margin: 50px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    animation: pulse 2s ease-in-out infinite;
    font-weight: bold;
    font-size: 24px; /* Tamaño de la fuente */
    font-family: "Arial", sans-serif; /* Tipo de fuente */
    text-align: center; /* Alineación del texto */
    line-height: 70px; /* Altura de línea para centrar verticalmente */
  }
  
  
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
  
  
