	<div class="container fondo">
  <h1>COMENCEMOS A PRACTICAR</h1>
	
		
		<div class="path">
            <div class="path">
                <button type="button" class="btn btn-primary circle" routerLink ="/letras">O</button>
                <button class="circle">2</button>
                <button class="circle">3</button>
                <button class="circle">4</button>
                <button class="circle">5</button>
                <button class="circle">6</button>
                <button class="circle">7</button>
                <button class="circle">8</button>
                <button class="circle">9</button>
                <button class="circle">10</button>
                <button class="circle">11</button>
                <button class="circle">12</button>
                <button class="circle">13</button>
                <button class="circle">14</button>
                <button class="circle">15</button>
                <button class="circle">16</button>
                <button class="circle">17</button>
                <button class="circle">18</button>
                <button class="circle">19</button>
                <button class="circle">20</button>
                <button class="circle">21</button>
                <button class="circle">22</button>
                <button class="circle">23</button>
                <button class="circle">24</button>
                <button class="circle">25</button>
                <button class="circle">26</button>
                <button class="circle">27</button>
                <button class="circle">28</button>
                <button class="circle">29</button>
                <button class="circle">30</button>
              </div>
            </div>
              
